.board-date {
    font-size: .9em;
    color: #999;
}

.board-actions {
    position: relative;
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
    border-top: 1px solid #f1f1f1;
}

.board-actions :hover{
    border: 1px solid black;
    color: #ffab00;
}

.board-actions a {
    display: flex;
    width: 100%;
    padding: 8px;
    font-size: .85em;
    color: #ffab00;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.board-small
{   
    padding: 10px 20px;
    clear: both;
    border-top: 1px solid #f1f1f1;
}

.board-small .board-small-column {
    position: relative;
    width: 35px;
    margin-right: 7px;
    vertical-align: top
}

.board-small div {
    font-size: .7em;
}

.board-small .front {
    width: 100%;
    min-height: 7px !important;
}

.front-1
{
    background-color: green;
    color: white;
}

.front-2
{
    background-color: orange;
    color: white;
}

.front-3
{
    background-color:blue;
    color: white;
}

.column{
    padding: 70px 1em 1em 1em;
}

.column-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 200px);
    
    overflow-x: auto;
    background: #f3f3f3;

}

.column-container ul{
    padding: 0px 0px 0px 0px;
}

.message-list {
    display: flex;
    min-width: 200px;
    padding-bottom: 15px;
    margin:0px 5px 0px 5px;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
}

.color-picker {
        position: relative;
        top: 2px;
        padding-right: 3px;
        vertical-align: top;
}

.color-picker .color-picker-selected {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: center;
    border-radius: 3px;
}

.column-name
{
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 5px;
}

.btn-add
{
    border-radius: 1px;
    margin-bottom: 10px;
}


.message {
    transition: top .3s ease-in-out;
    display: block;
    height: auto;
    margin-bottom: 5px;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 2px;

}
.message-body {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end-btn
{
    align-items: flex-end;
}

.flex-end-btn div{
    margin: 5px;
}