.board-date {
    font-size: .9em;
    color: #999;
}

.board-actions {
    position: relative;
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
    border-top: 1px solid #f1f1f1;
}

.board-actions :hover{
    border: 1px solid black;
    color: #ffab00;
}

.board-actions a {
    display: flex;
    width: 100%;
    padding: 8px;
    font-size: .85em;
    color: #ffab00;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.board-small
{   
    padding: 10px 20px;
    clear: both;
    border-top: 1px solid #f1f1f1;
}

.board-small .board-small-column {
    position: relative;
    width: 35px;
    margin-right: 7px;
    vertical-align: top
}

.board-small div {
    font-size: .7em;
}

.board-small .front {
    width: 100%;
    min-height: 7px !important;
}

.front-1
{
    background-color: green;
    color: white;
}

.front-2
{
    background-color: orange;
    color: white;
}

.front-3
{
    background-color:blue;
    color: white;
}