.dashboard
{
  padding: 70px 20px 20px 20px;
}

.dashboard-item {
    display: inline-block;
    min-width: 16%;
    max-width: 275px;
    margin: 10px;
    vertical-align: top;
    cursor: pointer;
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(192,208,230,0.5);
}


.dashboard-item.add-item {
    background: 0;
    border: 2px dashed #ccc;
    box-shadow: none;
}
.dashboard-item-body {
    padding: 20px;
}


.dashboard-item .add {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    margin-top: 17px;
    font-weight: bold;
    color:#fed136;
    text-align: center;
}

.dashboard-item .add small {
    color:#fed136;
}

.dashboard-item a{
    text-decoration: none!important;
}

.dashboard-item small {
    display: block;
    margin: 0;
    margin-top: 10px;
    font-size: .9em;
    color: #777;
}

.board-date {
    font-size: .9em;
    color: #999;
}

.board-actions {
    position: relative;
    display: flex;
    vertical-align: bottom;
    justify-content: space-between;
    border-top: 1px solid #f1f1f1;
}

.board-actions a {
    display: flex;
    width: 100%;
    padding: 8px;
    font-size: .85em;
    color: #fed136;
    text-align: center;
    justify-content: center;
    align-items: center;
}